@import "tailwindcss";

html,
body{
   @apply bg-zinc-100 text-zinc-900 antialiased;
   font-family: var(--font-montserrat), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

